{% extends 'base.html' %}

{% block content %}
<div class="container-xl pb-5 mb-5">
  <div class="container-lg my-carousel div-fixed-size">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-indicators">
                    {% for j in banner %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.last %}class="active" aria-current="true" {% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner badge text-bg-primary">
                    {% for i in banner %}
                    <div class="carousel-item{% if forloop.last %} active{% endif %}">
                        <p class="fs-2">{{ i.title }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>




<div class="row">
      <h5 class="text-center">Список последних курсов:</h5>
    {% for item in courses %}
				<div class="col-md-3 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">

                          <a href="{{ item.slug.url }}"><img src="{{ item.images.url }}" alt=""></a>

						</div>
						<div class="product-details">
                          <h4><a href="{{ item.slug.url }}">{{ item.title }}</a></h4>
                          <p>{{ item.about }}</p>
                          <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-links">
                              <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                          </div>
                        </div>
					</div>

				</div>
     {% endfor %}


</div>




<div class="row">
      <h5>Авторы:</h5>
    {% for item in authors %}
				<div class="col-md-3 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">

                          <a href="{{ item.slug.url }}"><img src="{{ item.photo.url }}" alt=""></a>

						</div>
						<div class="product-details">
                          <h4><a href="{{ item.slug.url }}">{{ item }}</a></h4>
                          <p>{{ item.description }}</p>
                          <div class="product-bottom-details d-flex justify-content-between">

                          </div>
                        </div>
					</div>

				</div>
     {% endfor %}


</div>




     <div class="row">
     <h5>Последние отзывы:</h5>
     {% for item in reviews %}
				<div class="col mb-3">
					<div class="product-card">
						<div class="product-thumb">

                          <a href="#"><img src="{{ item.image.url }}" alt=""></a>

						</div>
						<div class="product-details">
							<h4><a href="#">{{ item.name }}</a></h4>
							<p>{{ item.reviews }}</p>
						</div>
					</div>
				</div>
     {% endfor %}
     </div>









</div>
{% endblock %}